<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Danh sách bài học</h4>
                <h6>Quản lý danh sách bài học</h6>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="assets/img/icons/filter.svg" alt="img">
                                <span><img src="assets/img/icons/closes.svg" alt="img"></span>
                            </a>
                        </div>
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="assets/img/icons/search-white.svg" alt="img"></a>
                        </div>
                    </div>
                    <div class="wordset">
                        <ul>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img
                                        src="assets/img/icons/pdf.svg" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img
                                        src="assets/img/icons/excel.svg" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
                                        src="assets/img/icons/printer.svg" alt="img"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table  datanew">
                        <thead>
                            <tr>
                                <th>
                                    <label class="checkboxs">
                                        <input type="checkbox" id="select-all">
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>
                                <th>Tên bài học</th>
                                <th>Mô tả</th>
                                <th>Ngày tạo </th>
                                <th>Ngày cập nhật</th>
                                <th>Trạng thái (Public/Private)</th>
                                <th>Người tạo</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let lesson of lessons">
                            <tr>
                                <td>
                                    <label class="checkboxs">
                                        <input type="checkbox">
                                        <span class="checkmarks"></span>
                                    </label>
                                </td>
                                <td class="productimgname">
                                    <a href="javascript:void(0);" class="product-img">
                                        <img src="{{lesson.image.url}}" alt="courses" />
                                    </a>
                                    <a href="javascript:void(0);"> {{lesson.name}} </a>
                                </td>
                                <td>{{lesson.description}}</td>
                                <td>{{lesson.created_date | date}}</td>
                                <td>{{lesson.last_modified_date | date}}</td>
                                <td>{{lesson.is_public ? 'Công khai' : 'Không công khai'}}</td>
                                <td>{{lesson.user_info.fullName}}</td>
                                <td>
                                    <a class="me-3">
                                        <img src="assets/img/icons/edit.svg" alt="img" (click)="viewLessonDetail(lesson)">
                                    </a>
                                    <a class="confirm-text" href="javascript:void(0);">
                                        <img src="assets/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pagination">
                        <button class="btn btn-page" [disabled]="currentPage === 0"
                            (click)="onPageChange(currentPage - 1)">Previous</button>
                        <button class="btn btn-page" *ngFor="let page of totalPageArray" (click)="onPageChange(page)"
                            [class.active]="currentPage === page">{{ page }}</button>
                        <button class="btn btn-page" [disabled]="currentPage === totalPages"
                            (click)="onPageChange(currentPage + 1)">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>